<nav class="navbar navbar-inverse">
  <div class=”container-fluid”>
    <div class=”navbar-header”>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="sales" routerLinkActive="active">Sales</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="capital" routerLinkActive="active">Capital</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="shortage" routerLinkActive="active">Shortage</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="finance" routerLinkActive="active">Finance</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin" routerLinkActive="active">Admin</a></li>

    </ul>
  </div>
</nav>
