.borderAlign{
  border:2px solid steelblue;
  height:400px !important;
}

.btnAlign{
  text-align: center;
}
.imgAlign{
  margin-top: 98px;
  position: relative;
  left: 24px;
  background-color: #4d4d4d;
}
.labelClr{
  color:#ffffff;
}
.labelAlign{
  padding-left:181px;
}
