<!--<app-pharma-sales-header></app-pharma-sales-header>-->


<!--<nav class="navbar navbar-inverse" id="navchange">-->
  <!--<div class=”container-fluid”>-->
    <!--<div class=”navbar-header”>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav" routerLinkActive="active">-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="dashboard" routerLinkActive="active">Sales Dashboard</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="saleslog" routerLinkActive="active">Sales Log</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="salesupdate" routerLinkActive="active">Sales Update</a></li>-->

    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<!--<div class=”container”>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->


<!--<nav class="navbar navbar-inverse" id="navchange">-->
  <!--<div class=”container-fluid”>-->
    <!--<div class=”navbar-header”>-->
    <!--</div>-->
    <!--<ul class="nav navbar-nav" routerLinkActive="active">-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="dashboard" routerLinkActive="active">Sales Dashboard</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="saleslog" routerLinkActive="active">Sales Log</a></li>-->
      <!--<li class="nav-item"><a class="nav-link" routerLink="salesupdate" routerLinkActive="active">Sales Update</a></li>-->

    <!--</ul>-->
  <!--</div>-->
<!--</nav>-->

<!--<div class=”container”>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->

<p>dashboard</p>

