<div class="container">
  <table class="table table-bordered table-striped">
    <thead class="headerClr">
    <tr>
      <th class="pillDelete">MedicineName</th>
      <th class="pillDelete">CompanyName</th>
      <th class="pillDelete">MedicineSize</th>
      <th class="pillDelete">Quantity</th>
      <th class="pillDelete">OrderDate</th>
      <th class="pillDelete">Priority</th>
      <th class="pillDelete">MedicineType</th>
      <th class="pillDelete">Actions</th>
    </tr>
    </thead>
    <tbody *ngFor="let element of data">
    <tr>
      <td>{{element.medicinename}}</td>
      <td>{{element.companyname}}</td>
      <td>{{element.medicinesize}}</td>
      <td>{{element.quantity}}</td>
      <td>{{element.orderdate.formatted}}</td>
      <td>{{element.priority}}</td>
      <td>{{element.medicinetype}}</td>
      <td><a href="#">
        <button class="btn-primary" type="button" (click)="changeRoute(element.id);false">Update</button>
        <button class="btn-primary" type="button" (click)="deleteShortage(element.id);false">Delete</button>


      </a></td>

    </tr>

    </tbody>
  </table>


    <div class="panel panel-default" *ngIf="flag">
      <div class="panel-body panel-danger panelError">Shortage Successfully Deleted..!!</div>
    </div>


</div>

