<!--<form #form="ngForm" (ngSubmit)="logForm(form.value)">-->
  <!--<div class="form-group">-->
    <!--<div class="col-md-12 ">-->
      <!--<div class="col-md-6 alignName"  >-->
        <!--<label for="fname" class="labelClr">First Name</label>-->

      <!--</div>-->
      <!--<div class="col-md-6 alignContent"> <input  class="col-md-4" type="text" class="form-control"  placeholder="Enter  First Name" id="fname" name="fname" [(ngModel)]="fname"  required></div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<br/><br/><br/>-->

  <!--<div class="form-group">-->
    <!--<div class="col-md-12">-->
      <!--<div class="col-md-6 alignName">  <label for="amount" class="labelClr">Total Amount</label></div>-->
      <!--<div class="col-md-6 alignContent">  <input type="text" class="form-control" placeholder="Enter Total Amount" id="amount" name="amount" [(ngModel)]="amount"></div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<br/><br/><br/>-->
  <!--<div class="form-group">-->
    <!--<div class="col-md-12">-->
      <!--<div class="col-md-6 alignName">  <label  class="labelClr">Date Created</label></div>-->
      <!--<div class="col-md-6 alignContent">-->
        <!--<ng2-datepicker [options]="options" [(ngModel)]="userdate" name="userdate">-->
        <!--</ng2-datepicker>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<br/><br/><br/>-->
  <!--<div class="form-group">-->
    <!--<div class="col-md-12">-->
      <!--<div class="col-md-6 alignName">  <label for="credit" class="labelClr">Credit Amount</label></div>-->
      <!--<div class="col-md-6 alignContent">  <input type="text" class="form-control" placeholder="Enter Credit Amount" id="credit" name="credit" [(ngModel)]="credit"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<br/><br/><br/>-->
  <!--<div class="form-group">-->
    <!--<div class="col-md-12">-->
      <!--<div class="col-md-6 alignName">  <label for="cash" class="labelClr">Cash Amount</label></div>-->
      <!--<div class="col-md-6 alignContent">  <input type="text" class="form-control" placeholder="Enter Credit Amount" id="cash" name="cash" [(ngModel)]="cash"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<br/><br/><br/>-->
  <!--<div class="form-group">-->
    <!--<div class="col-md-12">-->
      <!--<div class="col-md-6 alignName">  <label for="medicine" class="labelClr">Medicine Amount</label></div>-->
      <!--<div class="col-md-6 alignContent">  <input type="text" class="form-control" placeholder="Enter Medicine Amount" id="medicine" name="medicine" [(ngModel)]="medicine"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<br/><br/><br/>-->
  <!--<div class="form-group">-->
    <!--<div class="col-md-12">-->
      <!--<div class="col-md-6 alignName">  <label for="cash" class="labelClr">General Amount</label></div>-->
      <!--<div class="col-md-6 alignContent">  <input type="text" class="form-control" placeholder="Enter  General Amount" id="general" name="general" [(ngModel)]="general"></div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<br/><br/><br/>-->
  <!--<div class="col-md-12 btnAlign" style="position:relative;left:350px;"><button type="submit" class="btn btn-success">Submit</button></div>-->
  <!--<div class="col-md-12 btnAlign" style="position:relative;left:350px;"><label>{{this.successMessage}}</label></div>-->

<!--</form>-->
